.circle-image {
    width: 150px;       
    height: 150px;      
    border-radius: 50%; 
    object-fit: cover;  
  }

.info-box {
    background-color: #4f4f4f; 
    border-radius: 16px;      
    padding: 20px;        
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    margin: 20px auto;         
}
  
.text-ul {
display: block;
position: relative;
padding: 0.1em 0;
}
  
.text-ul::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 0.1em;
background-color: rgb(255, 255, 255);
opacity: 0;
transition: opacity 300ms, transform 300ms;
}

.text-ul:hover::after,
.text-ul:focus::after {
opacity: 1;
transform: translate3d(0, 0.1em, 0);
}

.text-ul::after {
transform: scale(0);
transform-origin: center;
}

.text-ul:hover::after,
.text-ul:focus::after{
transform: scale(1);
}
  
  
  