.circle-image {
    width: 150px;       
    height: 150px;      
    border-radius: 50%; 
    object-fit: cover;  
  }

.info-box {
    background-color: #f2e4e4;     
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    width: 100%;
    margin: 20px auto;    
    display: flex;
    flex-direction: column; 
    align-items: center;     
    padding: 20px;
}
  
  
.info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px; 
  column-gap: 20px;
  padding-bottom: 150px;
}

.intro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  width: 50%;
  column-gap: 20px;
}

.mode-container{
  display: flex;
  justify-content: center;
}

.image-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  background-color: #e2c5c4;
  margin: 40px;
  padding: 15px;
  width: fit-content;
  border-radius: 20px;
}

.image-container h5 {
  margin: 5px;
}

.image-container h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.image-container p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 12px;
}