.main{
  padding-top: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

:root{
  padding: none;
  background-color: #EBE7E2;
  color: #A29F9C;
}
button{
  background-color: transparent;
  border: none;
}
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

h1{
  font-family: "DM Sans", sans-serif;
  font-size: 62px;
  font-weight: bold;
}

h2{
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

h3{
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

h4{
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

h5{
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

nav{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

p{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: normal;
}